<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Assistant:200" rel="stylesheet">
    <link rel='stylesheet' href='./style.css'>
    <title>HRE</title>
</head>
<body>
    <h1>Hannah Erickson</h1>
    <div id='aboutPage'>
        <a href='/about'>About</a>
    </div>  
    <div id='contactPage'>  
    <a href='/contact'>Contact</a>
    </div>
    <div id='skillsPage'>
        <a href='/skills'>Skills</a>
    </div>
</body>
</html>

